@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Lora:wght@400;500&display=swap');

:root {
  --color-bg: #222831;
  --color-article-bg: #30475e;
  --color-bastion-red-orange: #f85523;
  --color-bastion-tomato: #f46c51;
  --color-bastion-midnight-blue: #0b1d74;
  --color-bastion-bdazzled-blue: #485c87;
  --color-bastion-cornflower-blue: #7b9eff;
  --color-bastion-blue-ryb: #3350de;
  --color-cornflower-complement-a: #704ecc;
  --color-cornflower-complement-b: #8c8799;
  --color-cornflower-complement-d: #ffe5ba;
  --color-cornflower-complement-e: #cc8b4e;
  --font-family-headers: Poppins, sans-serif;
  --font-family-content: Helvetica, Arial, serif;
  --font-family-code: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  font-family: var(--font-family-content);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-headers);
}

h1 {
  font-size: 4rem;
  margin-top: 15px;
}

header h1 {
  margin: 25px 0 55px 0;
}

h2 {
  font-size: 3rem;
  line-height: 5rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 3rem;
}

p, li, a {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .25s;
}

a:hover {
  color: var(--color-bastion-tomato);
}

body {
  background-color: var(--color-bastion-bdazzled-blue);
  color: var(--color-cornflower-complement-d);
  display: grid;
  grid-template-areas:
    "sidebar"
    "header"
    "main";
  padding: 50px 0;
  text-align: center;
}

#page-header p {
  max-width: 550px;
  width: 75%;
  margin: 20px auto;
}

aside {
  background-color: var(--color-bastion-bdazzled-blue);
  grid-area: sidebar;
  position: sticky;
  top: 0;
  margin-bottom: 40px;
}

#photo-of-me {
  border: 5px solid var(--color-cornflower-complement-e);
  border-radius: 50%;
  height: 300px;
}

.nav-icons {
  width: 80%;
  max-width: 400px;
  margin: 4px auto 0;
  display: flex;
  justify-content: space-between;
}

.nav-icons img {
  width: 50px;
}

.nav-icons img:hover {
  filter: invert(56%) sepia(22%) saturate(999%) hue-rotate(348deg) brightness(100%) contrast(92%);
}

main h2 {
  margin-top: 10px;
}

main article {
  background-color: var(--color-cornflower-complement-d); 
}

main .bastion-grid {
  color: var(--color-bg);
  max-width: 1500px;
  margin: 50px auto;
  padding: 40px;
  grid-template-areas: 
    "article-header article-content article-content article-content"
    "bastion-overview bastion-overview bastion-overview-image bastion-overview-image"
    "admin-dashboard-image admin-dashboard-image bastion-video bastion-video";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  gap: 30px 10px;
}

article h2 {
  font-size: 3.75rem;
  font-family: var(--font-family-headers);
  letter-spacing: 2px;
}

article img {
  width: 85%;
}

article header {
  grid-area: article-header;
  justify-self: center;
  align-self: center;
}

article img {
  border-radius: 20px;
  border: 5px solid var(--color-bastion-bdazzled-blue);
}

article img:hover {
  border: 5px solid var(--color-cornflower-complement-e);
}

article .content {
  grid-area: article-content;
  align-self: center;
}

article .bastion-overview-image {
  grid-area: bastion-overview-image;
}

article .bastion-overview-image img {
  padding: 10px;
}

article img {
  background-color: #fff;
}

article .bastion-overview {
  grid-area: bastion-overview;
  align-self: center;
}

article .admin-dashboard-image {
  grid-area: admin-dashboard-image;
  margin: 40px 0;
}

article .bastion-video {
  grid-area: bastion-video;
  align-self: center;
  margin: 40px 0;
}

article .button {
  display: inline-block;
  align-self: center;
  padding-right: 35px;
  padding-top: 20px;
}

.content, .bastion-overview {
  text-align: left;
}

.bastion-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  margin: 22px;
}

ul {
  max-width: 970px;
}

.button a { 
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: var(--color-bastion-bdazzled-blue);
  color: white;
  margin: 15px 22px;
  padding: 7px 10px
}

.button a:hover {
  color: #fff;
  background-color: var(--color-cornflower-complement-e);
  transition: .25s;
}

.other-work img {
  width: 400px;
  border: 4px solid var(--color-cornflower-complement-e);
  border-radius: 20px;
}

.other-work h3 {
  margin: 10px;
}

.other-work-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 25px;
  margin: 50px;
}

@media (max-width: 800px) {
  main article {
    grid-template-columns: minmax(50px, 100px) 1fr;
  }
  
}
