@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&display=swap');

:root {
  --color-bg: #222831;
  --color-article-bg: #30475e;
  --color-bastion-red-orange: #f85523;
  --color-bastion-tomato: #f46c51;
  --color-bastion-midnight-blue: #0b1d74;
  --color-bastion-bdazzled-blue: #485c87;
  --color-bastion-cornflower-blue: #7b9eff;
  --color-bastion-blue-ryb: #3350de;
  --font-family-headers: Poppins, sans-serif;
  --font-family-content: Montserrat, sans-serif;
  --font-family-code: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  font-family: var(--font-family-content);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-headers);
}

h1 {
  font-size: 4rem;
  margin-top: 15px;
}

h2 {
  font-size: 3rem;
  line-height: 5rem;
}

p, li, a {
  font-weight: 500;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .25s;
}

a:hover {
  color: var(--color-bastion-tomato);
}

body {
  background-color: var(--color-bastion-bdazzled-blue);
  color: white;
  display: grid;
  grid-template-areas:
    "header"
    "sidebar"
    "main";
  padding: 50px 0;
  text-align: center;
}

#page-header p {
  max-width: 550px;
  width: 75%;
  margin: 20px auto;
}

aside {
  background-color: var(--color-bastion-bdazzled-blue);
  grid-area: sidebar;
  position: sticky;
  top: 0;
}

#photo-of-me {
  border: 5px solid var(--color-bg);
  border-radius: 50%;
  height: 300px;
}

.nav-icons {
  width: 80%;
  max-width: 400px;
  margin: 4px auto 0;
  display: flex;
  justify-content: space-between;
}

.nav-icons img {
  width: 50px;
}

.nav-icons img:hover {
  filter: invert(11%) sepia(11%) saturate(1332%) hue-rotate(177deg) brightness(96%) contrast(89%);
}

main h2 {
  margin-top: 10px;
}

main article {
  background-color: var(--color-bg);
  max-width: 1300px;
  margin: 50px auto;
  padding: 20px;
  grid-template-areas: 
    "article-header article-content article-content";
  display: grid;
  gap: 0 30px;
}

article h2 {
  font-size: 3.75rem;
  font-family: var(--font-family-headers);
  letter-spacing: 2px;
}

article img {
  width: 100%;
  max-width: 175px;
}

article header {
  grid-area: article-header;
  justify-self: center;
}

article .content {
  grid-area: article-content;
  align-self: center;
}

article .content .button {
  display: inline-block;
}

.content {
  text-align: left;
}

.content ul li {
  margin-bottom: 22px;
}

.button { 
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: var(--color-bastion-blue-ryb);
  color: white;
  margin-top: 15px;
  padding: 5px 10px
}

.button:hover {
  color: var(--color-bastion-midnight-blue);
  font-weight: 900;
  background-color: var(--color-bastion-red-orange);
  transition: .25s;
}

@media (max-width: 800px) {
  main article {
    grid-template-columns: minmax(50px, 100px) 1fr;
  }
  
}
