:root {
  --color-dark: #222831;
  --color-bastion-bdazzled-blue: #485c87;
  --color-beige: #ffe5ba;
  --color-brown: #cc8b4e;
  --font-family-content: Helvetica, Arial, sans-serif;
}

html {
  font-family: var(--font-family-content);
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*:hover {
  transition: 0.35s;
}

h1 {
  font-size: 4rem;
  margin-top: 15px;
}

header h1 {
  margin: 25px 0 55px 0;
}

h2 {
  font-size: 3rem;
  line-height: 5rem;
}

h3 {
  font-size: 1.7rem;
  line-height: 3rem;
}

p, li, a {
  font-weight: 500;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  margin: 22px;
}

ul {
  max-width: 970px;
}

body {
  background-color: var(--color-bastion-bdazzled-blue);
  color: var(--color-beige);
  display: grid;
  grid-template-areas:
    "navbar"
    "header"
    "main"
    "footer";
  padding: 50px 0;
  text-align: center;
}

aside {
  background-color: var(--color-bastion-bdazzled-blue);
  grid-area: navbar;
  position: sticky;
  top: 0;
  margin-bottom: 40px;
}

#page-header p {
  max-width: 550px;
  width: 75%;
  margin: 20px auto;
}

#photo-of-me {
  border: 5px solid var(--color-brown);
  border-radius: 50%;
  height: 300px;
}

.nav-icons {
  width: 80%;
  max-width: 500px;
  margin: 4px auto 0;
  display: flex;
  justify-content: space-between;
}

.nav-icons img {
  width: 50px;
}

.nav-icons img:hover {
  filter: invert(56%) sepia(22%) saturate(999%) hue-rotate(348deg) brightness(100%) contrast(92%);
}

main h2 {
  margin-top: 10px;
}

main article {
  background-color: var(--color-beige); 
}

main .bastion-grid {
  color: var(--color-dark);
  max-width: 1500px;
  margin: 50px auto;
  padding: 40px;
  grid-template-areas: 
    "bastion-h1 bastion-h1 bastion-h1 bastion-h1 "
    "article-header article-content article-content article-content"
    "bastion-overview bastion-overview bastion-overview-image bastion-overview-image"
    "admin-dashboard-image admin-dashboard-image bastion-video bastion-video";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  gap: 30px 10px;
}

article h1 {
  grid-area: bastion-h1;
}

article h1 a {
  font-size: 3.85rem;
}

article h1 a:hover {
  color: var(--color-brown);
}

article img {
  width: 85%;
}

article header {
  grid-area: article-header;
  justify-self: center;
  align-self: center;
  width: 100%;
}

article header img {
  padding: 25px;
  width: 75%;
}

article img {
  border-radius: 20px;
  border: 3px solid var(--color-bastion-bdazzled-blue);
}

article img:hover {
  border: 3px solid var(--color-brown);
}

article .content {
  grid-area: article-content;
  align-self: center;
}

article .bastion-overview-image {
  grid-area: bastion-overview-image;
  justify-self: center;
  align-self: center;
}

article .bastion-overview-image img {
  padding: 10px;
}

article img {
  background-color: #fff;
}

article .bastion-overview {
  grid-area: bastion-overview;
  align-self: center;
}

article .admin-dashboard-image {
  grid-area: admin-dashboard-image;
  margin: 40px 0;
}

article .bastion-video {
  grid-area: bastion-video;
  align-self: center;
  margin: 40px 0;
}

article iframe {
  width: 560px;
  height: 315px;
  border: 3px solid var(--color-bastion-bdazzled-blue);
  border-radius: 20px;
}

article .button {
  display: inline-block;
  align-self: center;
  padding-right: 35px;
  padding-top: 20px;
}

.content, .bastion-overview {
  text-align: left;
}

.bastion-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button a { 
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: var(--color-bastion-bdazzled-blue);
  color: white;
  margin: 15px 22px;
  padding: 8px 11px
}

.button a:hover {
  color: #fff;
  background-color: var(--color-brown);
}

.other-work img {
  width: 400px;
  border: 3px solid var(--color-dark);
  border-radius: 20px;
}

.other-work h3 {
  margin: 20px;
}

.other-work-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1700px;
  gap: 25px;
  margin: 50px auto;
}

.other-work p {
  width: 400px;
  margin: 35px 0;
}

footer {
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  grid-area: footer;
  justify-self: center;
}

footer img {
  width: 50px;
  margin: 50px 10px;
}

footer img:hover {
  filter: invert(56%) sepia(22%) saturate(999%) hue-rotate(348deg) brightness(100%) contrast(92%);
}

@media (max-width: 1200px) {
  article iframe {
    width: 450px;
    height: 253px;
  }
}

@media (max-width: 920px) {
  main .bastion-grid {
    margin: 50px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px 10px;
  }
}

@media (max-width: 510px) {
  article iframe {
    width: 275px;
    height: 155px;
  }
}

@media (max-width: 460px) {
  .other-work img, .other-work p {
    width: 300px;
  }
}